.text-white{
    color:$white!important;
}
.u-bold{
    font-weight: bold;
}
.text-primary{
    color:$primary!important;
}
.graphik-bold{
    font-family: 'Graphik-bold';
}
.poppins-bold{
    font-family: 'poppins-bold';
}