/*
  SECTION:   Entiende a los consumidores y a las audiencias en tiempo real
*/

.c-panel{
    &__understanding-title{
        font-family: 'Poppins-bold';
        color:$white;
        font-size: to-rem(24);
        line-height: to-rem(30);
    }
}

