$primary:#03234D;
$secondary:#0759E6;
$white:#ffffff;
$green-hover: #77BDA3;
$green100: #84E1A7;
$btn-hover: linear-gradient(90deg, #84E1A7 4.85%, #81D6DB 100%);
$light-blue:rgba(204, 216, 238, .16);
$pink:#F66A97;
$btn-gradient: linear-gradient(90deg, #31CF70 4.85%, #2CB9CB 100%);
$dark-blue: #2D314E;
$active-link: linear-gradient(90deg, #36CB6D 0%, #29B8C8 100%);
$gray: #959499;
$gray-light:#FAFAFA;
$gray50: #F9FAFB;
$gray100: #99989D;
$gray200: #F9F9F9;
$gray300: #D1D5DB;
$gray400: #E5E7EB;
$gray500: #6B7280;