.c-addArticle{
    min-height: 50vh;
    width: 100%;
    background: $gray200;

    &__container{
        padding: 70px 162px;
        display:flex;
        justify-content: start;
        align-items: flex-start;
        flex-direction: column;
        @include for-phone-only {
            padding: 70px 25px;
        }
        #title{
            margin-bottom: 70px ;
            h1{
                font-weight: 400;
                font-size: 40px;
                line-height: 62px;
                color: $dark-blue;
                text-align: start;
            }
            p{
                color: $gray100;
                font-weight: 400;
                font-size: 17px;
                line-height: 24px;
            }
        }
    }
}