.c-footer{

    bottom: 0;
    width: 100%;
    height: 190px;
    background: $dark-blue;
    @include for-phone-only {
        height: auto;
    }
    &__container{
        padding: 35px 178px 48px 164px;
        display: grid;
        grid-template-columns: 1fr 3fr 1.5fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        @include for-phone-only {
            padding:0;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, .6fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
         }
    }
    &__section1{
        grid-area: 1 / 1 / 2 / 2;
        @include for-phone-only { 
            grid-area: 1 / 1 / 2 / 2;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            gap: 10px;
         }
    }
    &__section2{
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        ul{
            columns: 2;
            margin-block: 0;
        }
        li{
            padding-right: 132px;
            padding-bottom: 16px;
            list-style-type: none;
            // display: inline;
        }
        a{
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 7px;
            color: #99989D;
        }
        @include for-phone-only { 
            grid-area: 2 / 1 / 3 / 2;
            display: flex;
            ul{
                columns: 2;
            }
            li{
                padding-right: 25px;
                // padding-bottom: 5px;
            }
        }
    }
    &__section3{
        @include for-phone-only { 
            grid-area: 3 / 1 / 4 / 2; 
        }
        grid-area: 1 / 3 / 2 / 4;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        p{
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            color: $white
        }
    }
    &__logo{
        max-width: 140px;
        margin-bottom: 56px;
        @include for-phone-only { 
            margin-bottom: 0;
        }
    }
    &__rrss{
        a{
            padding-right: 13px;
            &:hover{
                svg > path{
                    fill: $green-hover
                }
            }
        }
    }
    
}