.c-modal{
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    &__centered{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__modal {
        width: 500px;
        min-height: 150px;
        height: auto;
        background: white;
        color: white;
        z-index: 10;
        border-radius: 16px;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
      }
      &__modalHeader {
        height: 50px;
        background: white;
        overflow: hidden;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
      }
      &__heading {
        margin: 0;
        padding: 10px;
        color: #2c3e50;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
      }
      &__modalContent {
        padding: 10px;
        font-size: 14px;
        color: #2c3e50;
        text-align: center;
      }
      &__modalActions {
        position: absolute;
        bottom: 2px;
        margin-bottom: 10px;
        width: 100%;
      }
      &__actionsContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      &__btnClose{
        cursor: pointer;
        font-weight: 500;
        padding: 4px 8px;
        border-radius: 8px;
        border: none;
        font-size: 30px;
        color: red;
        background: $white;
        transition: all 0.25s ease;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
        position: absolute;
        right: 0;
        top: 0;
        align-self: flex-end;
        margin-top: -14px;
        margin-right: -7px;
      }
}